html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto";
  font-family: "Open Sans";
  color: #515151;
  font-size: 14px;
  line-height: 26px;
}

/* img.emedge {
  width: 1600px;
  max-height: 600px;
} */
.footer {
  background-color: #323232;
  width: 100%;
  height: 88px;
}

/* section.team-van {
  margin-bottom: 100px;
} */
nav.main-nav {
  margin-top: 38px;
  margin-bottom: 32px;
}

.team-tu:nth-child(3n) {
  margin-right: 0px;
}
li:hover .vit-vul-gut {
  cursor: pointer;
  background-color: #7fd9c7;
}
li:hover .vit-vul {
  cursor: pointer;
  background-color: #1abc9c;
}

.team-list-item {
  float: left;
  margin-bottom: 28px;
  margin-right: 28px;
}

.team-list-item:nth-child(4n) {
  margin-right: 0px;
}
.team-list-item:nth-of-type(1n) {
  margin-bottom: 0px;
}
.team-list-item:nth-of-type(2n) {
  margin-bottom: 0px;
}
.team-list-item:nth-of-type(3n) {
  margin-bottom: 0px;
}
.team-list-item:nth-of-type(4n) {
  margin-bottom: 0px;
}
.site-navigation li:nth-of-type(6n) {
  margin-right: 0;
}

img {
  float: left;
  max-width: 100%;
  height: auto;
}

.site-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  line-height: 11px;
  color: #1f1212;
}

.team-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  padding-bottom: 100px;
}

.vit p {
  list-style: none;
  padding-top: 4px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}
.vit-vul-gut {
  padding-left: 12px;
  float: left;
  height: 40px;
  width: 54px;
  background-color: #8c8c8c;
  margin: 0px;
}
.vit-vul {
  padding-left: 13px;
  margin: 0px;
  float: left;
  width: 202px;
  height: 40px;
  background-color: #323232;
}

h2 {
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 48px;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 120px;
}

.container {
  width: 1110px;
  margin: auto;
}
h2::after {
  position: absolute;
  width: 165px;
  height: 8px;
  display: inline-block;
  content: "";
  background-color: #1abc9c;
  bottom: 0px;
  top: 86px;
  top: 50%x;
  left: 50%;
  transform: translateX(-50%);
}
.site-navigation li {
  margin-right: 35px;
  float: left;
}
ul.site-navigation {
  margin: 0px;
}
.site-navigation {
  float: right;
  list-style: none;
  /* margin-top: 42px; */
  margin-bottom: 0px;
  padding: 0px;
}

a.logo {
  float: left;
  width: 78px;
  height: 21px;
  margin: 0px;
  /* list-style: none; */
  padding-top: 2px;
}
.site-navigation a:hover {
  color: #29c0a3;
}
.imge {
  margin-bottom: 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.eme {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; */
}
/* .derru {
  top: 40px;
  display: inline-block;
  position: absolute;
  text-align: center;
} */
.team-list-itemet {
  position: relative;
  width: 255px;
  height: 282px;
}
nav.vit {
  position: absolute;
  z-index: 2;
}
.but {
  position: absolute;
  /* display: inline-block; */
  float: left;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 790px;
  height: 0px;
  font-weight: 900;
  line-height: 1.6;
  font-size: 53px;
  color: #ffffff;
  text-transform: uppercase;
  padding-right: 80px;
  /* background-color: transparent;
  background-color: tomato;
  background-position: center; */
  top: -102px;
  left: 200px;
  z-index: 2;
}
.buta {
  position: absolute;
  /* display: inline-block; */
  float: left;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 790px;
  height: 0px;
  font-weight: 300;
  line-height: 1.2;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  padding-right: 338px;
  /* background-color: transparent;
  background-color: tomato;
  background-position: center; */
  top: -6px;
  left: 200px;
  z-index: 2;
}
.but-git {
  position: absolute;
  display: inline-block;
  float: left;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 104px;
  height: 104px;
  background-image: url("../img/22.png");
  color: #ffffff;
  background-repeat: no-repeat;
  background-color: transparent;
  /* background-color: tomato; */
  background-position: center;
  top: -70px;
  left: 23px;
  z-index: 2;
  background-color: #1abc9c;
}
.but-tu {
  position: absolute;
  display: inline-block;
  float: left;
  border: none;
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
  width: 104px;
  height: 104px;
  background-image: url("../img/11.png");
  color: #ffffff;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  top: -99px;
  background-color: #1abc9c;
  right: 25px;

  z-index: 2;
}

.cart-button {
  position: absolute;
  display: inline-block;
  float: left;
  border: none;
  padding-left: 40px;
  margin: 0px;
  width: 165px;
  height: 50px;
  background-image: url("../img/1.png");
  color: #ffffff;
  background-repeat: no-repeat;
  background-color: #323232;
  background-position: 12px;
  top: 147px;
  left: 46px;
  border: 1px solid;
  text-transform: uppercase;
  z-index: 2;
  opacity: 0;
}
.cart-button-tu {
  position: absolute;
  display: inline-block;
  float: left;
  border: none;
  margin: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../img/2.png");
  color: #ffffff;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0;
  background-position: 12px;
  top: 90px;
  left: 46px;
  border: 1px solid;
  z-index: 2;
}
.cart-button-gut {
  position: absolute;
  display: inline-block;
  float: left;
  border: none;
  margin: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../img/3.png");
  color: #ffffff;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0;
  background-position: 12px;
  top: 90px;
  left: 104px;
  border: 1px solid;
  z-index: 2;
}
.cart-button-fol {
  position: absolute;
  display: inline-block;
  float: left;
  border: none;
  margin: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../img/4.png");
  color: #ffffff;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 12px;
  top: 90px;
  left: 160px;
  border: 1px solid;
  z-index: 2;
  opacity: 0;
}
.blok {
  width: 1600;
  height: 600;
}
.opasi {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 2);
  z-index: 1;
  opacity: 0.522;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 282px;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  opacity: 0;
}
.team-list-itemet:hover .cart-button {
  opacity: 1;
}
.team-list-itemet:hover .cart-button-gut {
  opacity: 1;
}
.team-list-itemet:hover .cart-button-tu {
  opacity: 1;
}
.team-list-itemet:hover .cart-button-fol {
  opacity: 1;
}
/* .eme:hover .opasi {
    opacity: 0.522; 
}  */
.team-list-itemet:hover .overlay {
  opacity: 0.549;
}
/* button:hover.but-tu {
  cursor: pointer;
  background-color: #1abc9c;
} */
/* button:hover.but-git {
  cursor: pointer;
  background-color: #1abc9c;
} */
button:hover.cart-button-gut {
  border: 0px solid;
  cursor: pointer;
  background-color: #1abc9c;
}
button:hover.cart-button-fol {
  border: 0px solid;
  cursor: pointer;
  background-color: #1abc9c;
}
button:hover.cart-button-tu {
  border: 0px solid;
  cursor: pointer;
  background-color: #1abc9c;
}
button:hover.cart-button {
  border: 0px solid;
  cursor: pointer;
  background-color: #1abc9c;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.adres {
  font-family: "Open Sans";
  border: 0px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding-top: 36px;
  color: #ffffff;
  font-weight: 400;
}
.color {
  font-size: 1.5;
  font-size: 400;
  color: #46bfa9;
}

.fful {
  background-color: rgb(233, 240, 253);
  /* padding-bottom: 100px; */
}
.emedge {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.derru {
  display: inline-block;
  position: absolute;
  text-align: center;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
