html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  color: #898989;
  font-size: 15px;
  line-height: 1.5;
}

.container {
  width: 940px;
  margin: 0 auto;
}
.logo {
  cursor: initial;
  display: flex;
  padding: 0;
  margin: 0;
}
.main-nav {
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  margin-top: 54px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
}
.site-navigation {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;

  width: 480px;
}
.site-navigation li {
  margin-right: 37px;
}
.site-navigation li:nth-last-child(1) {
  margin-right: 0px;
}

.site-navigation a {
  font-family: "Montserrat";
  line-height: 1.2;
  font-weight: 400;
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.team-title {
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  color: #222222;
  font-weight: 700;
  margin-bottom: 10px;
}
.peyn {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  text-align: center;
}
.boy {
  transition: color 400ms ease-in;
}

.site-navigation :hover {
  color: #fed136;
}
.inpu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.inpu input[type="email"]:valid {
  border-color: green;
}
.inpu input[type="email"]:invalid {
  border-color: red;
}
.inpu input[type="name"]:valid {
  border-color: green;
}
.inpu input[type="name"]:invalid {
  border-color: red;
}
textarea[type="message"]:valid {
  border-color: green;
}
textarea[type="message"]:invalid {
  border-color: red;
}
.in input::placeholder {
  text-transform: uppercase;
  font-weight: 600;
  color: #bbbbbb;
  /* padding-left: 20px; */
  padding-top: 20px;
}
input {
  padding-left: 20px;
}
.in input {
  /* margin-bottom: 28px; */
  width: 455px;
  height: 52px;
  /* bottom: 1px; */
}
textarea::placeholder {
  text-transform: uppercase;
  font-weight: 600;
  color: #bbbbbb;
  /* padding-left: 20px; */
}
textarea {
  padding-left: 20px;
  /* margin-left: 30px; */
  width: 455px;
  height: 212px;
  padding-top: 20px;
}
.in {
  display: flex;
  justify-content: center;
  width: 940px;
  justify-content: space-between;
}
.nave {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  color: #222222;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.team {
  font-family: "Roboto Slab";
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.team-list-item {
  width: 290px;
}
.team-list-i {
  list-style: none;
}
.team-lister {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 124px;
}
.wes {
  border-radius: 40px;
  border: #fed136 solid 3px;
  width: 72px;
  height: 72px;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 22px;
}
.abs {
  position: absolute;
  text-align: center;
  bottom: 0px;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

.team-title-tut {
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 112px;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.team-rayt {
  display: flex;
  /* position: relative; */
  background-image: url(../img/homework-07.png);
  /* min-height: 677px; */
  /* width: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.baner {
  display: flex;
  flex-direction: column;
}

.bute {
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  width: 240px;
  height: 65px;
  background-color: #fed136;
  border: 0;
  color: #fffcf2;
  margin-top: 28px;
}

.wewer {
  text-align: center;
  margin-bottom: 112px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
